/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    color: white;
}


[class^="col-"]{
    font-size: .8rem;
    background-color: blue;
    border: 1px solid white;
    text-align: center;
    padding: 1rem;
}

.green{
    background-color: lime;
}

.white{
    background-color: white;
}

.divisore{
    padding: .5rem;
}